<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boletão</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <script src="./js/jquery.js"></script>
</head>

<style>
    body{
        background-image: url("./image/bg_roxo.png");
        background-color: #781866;
    }
    #branco{
        background-color: white;
    }
    #botao{
        margin-top: 25px;
    }
    .imagelogo{
        margin-left: 95px;
    }
    #customers {
        font-family: segoeui.ttf;
        src: url('./fonts/segoeui.ttf');
        border-collapse: collapse;
        width: 100%;
    }
    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    #customers tr:hover {background-color: #ddd;}
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #DEA727;
        color: white;
    }
    #texto{
        margin-top: 15px;
        margin-left: 13px;
        color: black;
        text-align: center;
        font-family: futura;
        src: url('./fonts/futura.otf');
        font-size: 35px
        
    }
</style>

<body>
    <div align="center"> </div>

    <div id="branco" class="row">
            <div class="input-field col s4"> 
                    <img class="imagelogo" src="./image/live_preto.png"  width="50%" height="50%">    
            </div>

        <div id="branco" class="input-field col s3">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">ID Pagamento</label>

        </div>
        <div class="col s2">
            <button id="botao" class="btn waves-effect waves-light" onclick="enviaridpagamento(this)">Pesquisar
                <i class="material-icons right">send</i>
            </button>
        </div>
        <div id="texto" class="col s2">
            Consultar Boletos
        </div>      
    </div>





    <div>
        <table id="customers" class="responsive-table">

        </table>

    </div>




    <script>
        function enviaridpagamento(elemento) {
            var input = elemento.parentNode.parentNode.querySelector("input")
            var id_pagamento = (input.value);
            input.value = "";

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "/manobra_boleto",
                "method": "POST",
                "headers": {
                    "content-type": "application/x-www-form-urlencoded",
                    "cache-control": "no-cache"
                },
                "data": {
                    "id_pagamento": id_pagamento
                }
            }

            $.ajax(settings).done(function (response) {

                if (response.length == 0) {
                    alert("Registro Não Encontrado")
                    window.location.reload();
                    return
                }
                console.log(response);



                if (response == "Error") {
                    console.log("Deu Ruim");
                    return
                }
                //console.log(response);
                var linhaz = response[0]
                //document.querySelector("table").innerHTML += '<tr>'
                var tabela = '<tr>'
                for (nome in linhaz) {
                    tabela += '<th>' + nome + '</th>'
                }
                tabela += '<th> Deletar</th>'
                tabela += '</tr>'

                tabela += '<tr>'
                for (var i = 0; i < response.length; i++) {
                    for (dado in response[i]) {
                        tabela += '<td>' + response[i][dado] + '</td>'
                    }

                    tabela += '<td><button class="btn waves-effect waves-light" onclick="apagaregistro(' + id_pagamento + ')">Deletar</button></td>'
                }
                tabela += '</tr>'

                document.querySelector("table").innerHTML = tabela

            });

        }


        function apagaregistro(elemento) {
            console.log(elemento);
            var id_pagamento = elemento;

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "/deleta_boleto",
                "method": "POST",
                "headers": {
                    "content-type": "application/x-www-form-urlencoded",
                    "cache-control": "no-cache"
                },
                "data": {
                    "id_pagamento": id_pagamento
                }
            }

            $.ajax(settings).done(function (response) {
                if (response.status == "Erro") {
                    console.log(response.erro);
                    alert("ERRO AO APAGAR")
                    return
                }
                alert("Pagamento " + elemento + " Deletado");
                window.location.reload();


            });



        }
    </script>

    <script type="text/javascript" src="js/materialize.min.js"></script>

</body>

</html>